@model Service


<div class="container-fluid" style="padding-top: 100px">

    <div class="container">
        <h1 style="text-align:center"> Create Service</h1>
    </div>

    <div class="container-fluid">


        <form method="post" enctype="multipart/form-data">
            <div class="row pt-5 container">
                <div class="col-2"></div>
                <div class="form-group col-4">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control text-white" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                 <div class="form-group col-4">
                    <label asp-for="Icon">Icon</label>
                    <input asp-for="Icon" class="form-control text-white" placeholder="Icon">
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="container text-center pt-5">
                <button type="submit" class="btn btn-outline-primary">Create</button>
                <a class="btn btn-outline-danger" asp-action="index" asp-controller="service">Cancel</a>
            </div>
        </form>

    </div>
</div>



