@model Category


<div class="container-fluid" style="padding-top: 100px">

    <div class="container">
        <h1 style="text-align:center"> Update Category</h1>
    </div>

    <div class="container-fluid">


        <form method="post" enctype="multipart/form-data">
            <div class="row pt-5">
                <div class="form-group col-6">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control text-white" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="ImageFile">Image</label>
                    <input asp-for="ImageFile" class="form-control text-white">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    <div class="pt-3">
                        <img width="100px" height="100px" src="~/uploads/category/@ViewBag.Image" />
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-danger" asp-action="index" asp-controller="category">Cancel</a>
        </form>

    </div>
</div>


